@font-face {
    font-family: 'CustomFont';
    src: url('/path/to/fonts/custom-font.woff2') format('woff2'),
         url('/path/to/fonts/custom-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.custom-font {
    font-family: 'CustomFont', sans-serif;
}

body {
    font-family: 'CustomFont', sans-serif;
}

@layer utilities {
    .video-element:fullscreen,
    .video-element:-webkit-full-screen,
    .video-element:-moz-full-screen,
    .video-element:-ms-fullscreen {
      width: 100vw;
      height: 100vh;
      object-fit: contain; /* Maintain aspect ratio but fit the screen */
      z-index: 9999;
    }
  }
  



  