@font-face {
    font-family: 'CustomFont';
    src: url('/path/to/fonts/custom-font.woff2') format('woff2'),
         url('/path/to/fonts/custom-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.custom-font {
    font-family: 'CustomFont', sans-serif;
}

body {
    font-family: 'CustomFont', sans-serif;
}

@layer utilities {
    .video-element:fullscreen,
    .video-element:-webkit-full-screen,
    .video-element:-moz-full-screen,
    .video-element:-ms-fullscreen {
      width: 100vw;
      height: 100vh;
      object-fit: contain; /* Maintain aspect ratio but fit the screen */
      z-index: 9999;
    }
  }
  



  .new-animated-button {
    display: inline-block;
    padding: 14px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #1c1c1c; /* Dark background */
    border: 2px solid transparent;
    border-radius: 12px;
    text-decoration: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    z-index: 1;
}

.new-animated-button:hover {
    color: #ffa12b; /* Text changes to a glowing orange on hover */
    background-color: #272727; /* Slightly lighter dark on hover */
    box-shadow: 0 0 15px rgba(255, 161, 43, 0.6), 0 0 25px rgba(255, 161, 43, 0.4); /* Glowing shadow effect */
}

.new-animated-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400%;
    height: 400%;
    background: rgba(255, 161, 43, 0.2); /* Ripple effect color */
    transition: width 0.6s ease, height 0.6s ease, top 0.6s ease, left 0.6s ease;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.new-animated-button:hover::before {
    width: 500%;
    height: 500%;
    background-color: rgba(11, 7, 3, 0.2); /* Ripple effect enlarges */
}

.new-animated-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    border: 2px solid rgba(255, 161, 43, 0.6); /* Glowing border effect */
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: -1;
}

.new-animated-button:hover::after {
    opacity: 1;
}



.scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: none; /* Initially hidden */
    background-color: rgba(0, 0, 0, 0.711);
    color: white;
    border: none;
    border-radius: 50%;
    /* padding: 15px; */
    width: 50px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    cursor: pointer;
    font-size: 28px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Optional shadow effect */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.scroll-to-top:hover {
    background-color: rgb(14, 3, 3); /* Darker color on hover */
}

.scroll-to-top:hover {
    background-color: rgb(0, 0, 0); /* Darker color on hover */
    transform: scale(1.1); /* Slightly larger on hover */
}